DISCORD_MVP_TOKEN='MTE4MzEABCDEFGEXAMPLE.GeEXAMPLE.getTheseValuesFromDiscordDeveloperDoc'
DISCORD_ESPECIA_TOKEN='MTE4EABCDEFGEXAMPLE.GeEXAMPLE.example'
DISCORD_GENERAL_TOKEN='MTE4EABCDEFGEXAMPLE.GeEXAMPLE.example'
PUBLIC_KEY='e21239example123123123'
GUILD_ID='440408701770268673'
MVP_CHANNEL_ID='118312345678901234'
MS_GENERAL_CHANNEL_ID='118312345678901234'
DISCORD_MVP_NOTIFICATION_ROLE_ID='118312345678901234'
DISCORD_CRITICAL_ROLE= '118312345678901234'
DISCORD_NICE_TO_HAVE_ROLE='118312345678901234'